.dashboard{
  display: flex;
  gap: 20px;
  color: cadetblue;
  height: 100vh;
}

.dashboard--content {
  background-color: #fff;
 flex:1;
border-radius: 20px;
padding: 1.5rem;
margin:2rem;
display: flex;
justify-content: space-between;
}

