  .sidebar {
    width: 20%;
    background-color: #ffffff;
    border-right: 1px solid #d1e1f0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: calc(85vh - 20px); 
    width: 100%; 
    max-width: 300px;
    margin: 50px auto;
    border-radius: 3%;
  }
  
  .sidebar-header {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2d4059;
  }
  
  
  .sidebar-section h3 {
    font-size: 1.5rem;
    color: #4a90e2;
    margin: 0px 0px 35px 0px;
  }
  
  .groups-list-container {
    height: 76%;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y;
  }
   
   